body {
	font-family: Helvetica, Arial, sans-serif;
	color: #222222;
	line-height: 1.3;
	background-image: url("http://jeagogo.github.io/unit_3/images/waves_pacifica.jpg");
	background-size: cover;
	width: 85%;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
}

header {
	text-align: center;
	display: block;
	background-color: rgba(255,255,255,.15);
	padding: 15px;
}

h1 {
	font-family: 'Anton', sans-serif;
	color: #444444;
	padding: 15px;
}

main {
	display: block;
	background-color: rgba(255,255,255,.15);
	padding: 10px;
}

p {
	display: block;
	padding: 10px;
}

ul {
	padding-left: 30px;
}

#slogan {
	font-style: italic;
	margin-bottom: 10px;
}

a {
	color: #222222;
	text-decoration: none;
	padding: 15px;
	margin-right: 10px;
	margin-top: 10px;
}

.center {
	display: block;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 20px;
}

